.Dashboard {
    width: 90%;
    max-width: 150rem;
}

.Dashboard_Title {
    margin: 2rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--cta-color);
}

.Form_Wrapper {
    max-width: 50rem;
}

.Alert {
    color: var(--danger);
}

.NotContent {
    margin-top: 2rem;
}

.Dashboard_Lists {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-auto-rows: auto;
    grid-gap: 12px;
    justify-content: center;
}


@media (min-width: 1020px) {
    .Dashboard_Lists {
        grid-template-columns: repeat(auto-fit,minmax(420px,1fr));
    }
}