.Form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.Form input {
    padding: 0 1rem;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    border: 1px solid var(--secundary-color);
}


.Form_Button {
    border: none;
    background-color: var(--primary-color);
    color: var(--bg);
    font-size: 1.8rem;
    cursor: pointer;
}

.Form .Form_Button {
    border: 1px solid var(--primary-color);
}

@media (min-width: 450px) {

    .Form_Input {
        max-width: 70%;
    }

    .Form_Button {
        max-width: 25%;
    }
}