.Row  {
    display: grid;
    grid-template: 100% / 15% 55% 10% 20%;
    padding: 0.8rem 0;
}

.Row_Buttons {
    display: flex;
    justify-content: space-between;
}

.Row_Buttons img {
    display: flex;
    justify-content: space-between;
    width: 2.5rem;
    cursor: pointer;

}

.Row_Buttons button {
    background-color: transparent;
    border: none;
}

.Row_Item {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.Row_Item h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}